@import '../../../bootstrap.styles.scss';

.box {
  min-height: 200px;
  border-radius: 0 0 200px 200px;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, $white 0%, $orange-400 100%);
  padding: 24px 0;

  &.normal {
    background-color: $brown-200;
    background: linear-gradient(0deg, $white 0%, $brown-200 100%);
  }
  &.fire {
    background-color: $orange-400;
    background: linear-gradient(0deg, $white 0%, $orange-400 100%);
  }
  &.grass {
    background-color: $green-400;
    background: linear-gradient(0deg, $white 0%, $green-400 100%);
  }
  &.water {
    background-color: $blue-400;
    background: linear-gradient(0deg, $white 0%, $blue-400 100%);
  }
  &.bug {
    background-color: $teal-400;
    background: linear-gradient(0deg, $white 0%, $teal-400 100%);
  }
  &.poison {
    background-color: $purple-500;
    background: linear-gradient(0deg, $white 0%, $purple-500 100%);
  }
  &.fairy {
    background-color: $pink-400;
    background: linear-gradient(0deg, $white 0%, $pink-400 100%);
  }
  &.psychic {
    background-color: $pink-500;
    background: linear-gradient(0deg, $white 0%, $pink-500 100%);
  }
  &.electric {
    background-color: $yellow-400;
    background: linear-gradient(0deg, $white 0%, $yellow-400 100%);
  }
  &.rock {
    background-color: $gray-700;
    background: linear-gradient(0deg, $white 0%, $gray-700 100%);
  }
  &.ice {
    background-color: $cyan-400;
    background: linear-gradient(0deg, $white 0%, $cyan-400 100%);
  }
  &.dragon {
    background-color: $indigo-400;
    background: linear-gradient(0deg, $white 0%, $indigo-400 100%);
  }
  &.ghost {
    background-color: $purple-900;
    background: linear-gradient(0deg, $white 0%, $purple-900 100%);
  }
  &.dark {
    background-color: $gray-800;
    background: linear-gradient(0deg, $white 0%, $gray-800 100%);
  }
  &.steel {
    background-color: $gray-700;
    background: linear-gradient(0deg, $white 0%, $gray-700 100%);
  }
  &.fighting {
    background-color: $red-400;
    background: linear-gradient(0deg, $white 0%, $red-400 100%);
  }
  &.flying {
    background-color: $purple-300;
    background: linear-gradient(0deg, $white 0%, $purple-300 100%);
  }
  &.ground {
    background-color: $brown-500;
    background: linear-gradient(0deg, $white 0%, $brown-500 100%);
  }

  .sprite {
    height: 200px;
  }
}

h1 {
  margin: 24px 0 8px 0;
  text-transform: capitalize;
}

h2 {
  font-size: 18px;
  margin-bottom: 24px;
}

.types {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
  text-transform: capitalize;

  .badge {
    font-size: 16px;
    border-radius: 24px;

    &.normal {
      background-color: $brown-200;
    }
    &.fire {
      background-color: $orange-400;
    }
    &.grass {
      background-color: $green-400;
    }
    &.water {
      background-color: $blue-400;
    }
    &.bug {
      background-color: $teal-400;
    }
    &.poison {
      background-color: $purple-500;
    }
    &.fairy {
      background-color: $pink-400;
    }
    &.psychic {
      background-color: $pink-500;
    }
    &.electric {
      background-color: $yellow-400;
    }
    &.rock {
      color: $white;
      background-color: $gray-700;
    }
    &.ice {
      background-color: $cyan-400;
    }
    &.dragon {
      background-color: $indigo-400;
    }
    &.ghost {
      color: $white;
      background-color: $purple-900;
    }
    &.dark {
      color: $white;
      background-color: $gray-800;
    }
    &.steel {
      color: $white;
      background-color: $gray-600;
    }
    &.fighting {
      background-color: $red-400;
    }
    &.flying {
      color: $white;
      background-color: $purple-300;
    }
    &.ground {
      color: $white;
      background-color: $brown-500;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .card {
    width: 100%;
    border: 0;
  }
}
