@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';

.pagination {
  width: 100%;
  cursor: pointer;
  margin: 0;

  .page-link {
    color: $blue-700;
    border: 0;
    border-radius: 8px;
    margin: 0 2px;
    @media (min-width: 768px) {
      margin: 0 4px;
    }
  }

  .active {
    .page-link {
      color: $white;
      background-color: $blue-700;
      border-color: $blue-700;
    }
  }

  .disabled {
    cursor: not-allowed;

    .page-link {
      color: $gray-500;
    }
  }
}
