@import '../../../bootstrap.styles.scss';

.card {
  flex: 1 0 100%;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 16px;
  border: 0;
  cursor: pointer;

  @media (min-width: 768px) {
    flex: 1 0 calc(50% - 16px);
  }

  &.normal {
    background-color: $brown-100;
    .box {
      background-color: $brown-200;
    }
  }
  &.fire {
    background-color: $orange-100;
    .box {
      background-color: $orange-400;
    }
  }
  &.grass {
    background-color: $green-100;
    .box {
      background-color: $green-400;
    }
  }
  &.water {
    background-color: $blue-100;
    .box {
      background-color: $blue-400;
    }
  }
  &.bug {
    background-color: $teal-100;
    .box {
      background-color: $teal-400;
    }
  }
  &.poison {
    background-color: $purple-200;
    .box {
      background-color: $purple-500;
    }
  }
  &.fairy {
    background-color: $pink-100;
    .box {
      background-color: $pink-400;
    }
  }
  &.ground {
    background-color: $brown-200;
    .box {
      background-color: $brown-500;
    }
  }
  &.psychic {
    background-color: $pink-300;
    .box {
      background-color: $pink-500;
    }
  }
  &.electric {
    background-color: $yellow-100;
    .box {
      background-color: $yellow-400;
    }
  }
  &.rock {
    background-color: $gray-600;

    .number,
    h4 {
      color: $white !important;
    }

    .box {
      background-color: $gray-700;
    }
  }
  &.ice {
    background-color: $cyan-100;
    .box {
      background-color: $cyan-400;
    }
  }
  &.dragon {
    background-color: $indigo-100;
    .box {
      background-color: $indigo-400;
    }
  }
  &.ghost {
    background-color: $purple-800;
    .number,
    h4 {
      color: $white !important;
    }
    .box {
      background-color: $purple-900;
    }
  }
  &.dark {
    background-color: $gray-700;
    .number,
    h4 {
      color: $white !important;
    }
    .box {
      background-color: $gray-800;
    }
  }
  &.steel {
    .number,
    h4 {
      color: $white !important;
    }
    background-color: $gray-600;
    .box {
      background-color: $gray-700;
    }
  }
  &.flying {
    background-color: $purple-100;
    .box {
      background-color: $purple-300;
    }
  }
  &.fighting {
    background-color: $red-200;
    .box {
      background-color: $red-400;
    }
  }

  .card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;

    .info {
      width: 75%;
      padding: 16px;
      position: relative;

      .like {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      h4 {
        font-weight: 600;
        text-transform: capitalize;
      }

      .number {
        font-size: 16px;
        font-weight: 600;
        color: $gray-700;
      }
    }

    .box {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 16px;

      img {
        width: auto;
        height: 100px;
      }
    }

    .comments {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 4px;
      background-color: $white;
      padding: 4px 8px;
      border-radius: 8px;
      color: $gray-700;
      box-sizing: border-box;

      &:hover {
        background-color: $gray-300;
      }
    }

    .message {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 14px;

      @media (max-width: 576px) {
        width: 170px;
      }

      @media (min-width: 576px) and (max-width: 767.98px) {
        width: 330px;
      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        width: 100px;
      }
    }
  }
}
