<div class="header shadow-lg">
  <app-header></app-header>
</div>
<div class="container">
  <div class="list">
    @for (pokemon of pokemons; track pokemon.order) {
      <div
        class="card"
        [appPokemonTypeClass]="pokemon.types[0].type.name"
        (click)="openPageDetail(pokemon.name)"
      >
        <div class="card-body">
          <div class="info">
            <span class="number">Nº{{ pokemon.order | numberPokedex: 3 }}</span>
            <h4>{{ pokemon.name }}</h4>
            <div class="comments">
              <span class="badge text-bg-light message"
                >Comentário de teste para o componente de comentário</span
              >
              <span class="badge text-bg-light">+3</span>
            </div>
            <span class="like">
              <app-like
                [liked]="pokemon.liked"
                (onLike)="onLike($event, pokemon)"
              ></app-like>
            </span>
          </div>
          <div class="box">
            <img src="{{ pokemon.sprites?.front_default }}" />
          </div>
        </div>
      </div>
    }
  </div>
</div>
@if (pokemons.length > 0 && searchMode === false) {
  <div class="pagination shadow-lg">
    <app-pagination
      [configuration]="paginationConfiguration"
      (onPageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
} @else if (pokemons.length === 0 && searchMode === true) {
  <div class="not-found">
    <img src="assets/images/margikarp-not-found.png" />
    <h1>Não foi possível encontrar o Pokémon</h1>
  </div>
}
