<!-- header -->
<div class="header shadow">
  <app-header></app-header>
</div>

<!-- main list -->
<div class="container">
  <div class="list">
    @for (pokemon of pokemons; track pokemon.order) {
      <app-pokemon-card
        class="card"
        [pokemon]="pokemon"
        (onOpenComment)="openModalComment($event)"
        (onOpenDetail)="openPageDetail($event)"
        (onLike)="onLike($event)"
      ></app-pokemon-card>
    }
  </div>
</div>

<!-- pagination -->
@if (pokemons.length > 0 && searchMode === false) {
  <div class="pagination shadow">
    <app-pagination
      [configuration]="paginationConfiguration"
      (onPageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
} @else if (pokemons.length === 0 && searchMode === true) {
  <div class="not-found">
    <img src="assets/images/margikarp-not-found.png" />
    <h2>Não foi possível encontrar o Pokémon</h2>
  </div>
}

<!-- comment modal -->
@if (showCommentModal && commentModalPokemon) {
  <app-comment
    [pokemon]="commentModalPokemon"
    (onAddComment)="addComent($event)"
    (onDeleteComment)="deleteComment($event)"
    (onModalClose)="closeCommentModal()"
  ></app-comment>
}
